.footer {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  padding-top: 66px;
  padding-bottom: 30px;
  
  nav {
    margin-bottom: 50px;

    img {
      height: 40px;
      filter: brightness(100);
    }
  }
}